{% extends 'base2.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Liste des Commentaires</h1>
        <br>
        <center>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Auteur</th>
                    <th scope="col">Contenu</th>
                    <th scope="col">Date Commentaire</th>
                </tr>
                </thead>
                {% for c in com %}
                    <tr>
                        <td>{{ c.user.username }}</td>
                        <td>{{ c.contenu }}</td>
                        <td>{{ c.dateajout|date('d/m/Y') }}</td>
                        <td><a href="{{ path('DeleteC',{'id':c.id}) }}">Supprimer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </center>
    </div>

{% endblock %}
