<html>
<head>
    <title>
        Ajout des Commentaire
    </title>
</head>
<body>
<center>
    <h1>Ajouter un commentaire</h1>
    <fieldset >
        {{ form(form) }}
    </fieldset>
</center>
</body>
</html>
